<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/desktop/SeleniumFrameworkDesign">

        <classes>
            <class name="AyanMustafaPackage.Tests.StandALonTest">
                <methods>
                    <include name="standAlonTest"/>
                </methods>
            </class>
            <class name="AyanMustafaPackage.Tests.errorValidationsTest">
                <methods>
                    <include name="loginErrorValidation"/>
                    <include name="productErrorValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>